.log_in {
    color: #fbe3dd;
    margin-right: 20px;
}

.log_in:hover {
    border: 1px solid #b5c9ea;
}

.sign_up {
    color: #fbe3dd;
}

.sign_up:hover {
    border: 1px solid #fbe3dd;
}

.btn {
    color: #fffdfc;
    border-radius: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    transition: all 0.2s;
}

.btn.pink {
    background-color: #dc21b8;
}
.btn.pink:hover {
    filter: brightness(1.4);
}

.btn.grey {
    background-color: #4c3746;
}
.btn.grey:hover {
    background-color: #dc21b8;
    color: #fffdfc;
}

.btn.white {
    background-color: #fffdfc;
    color: #dc21b8;
}
.btn.white:hover {
    background-color: #dc21b8;
    color: #fffdfc;
}

.btn.mrg-top-5 {
    margin-top: 5px;
}

.btn.mrg-top-15 {
    margin-top: 15px;
}

.btn.mrg-top-30 {
    margin-top: 30px;
}

#already_have_account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

#alreadyHaveLabel {
    color: white;
}

.alreadyHaveButton {
    background-color: transparent;
    color: white;
    border: 1px solid #4ac0fc;

    width: fit-content;

    padding: 8px 13px;
    font-size: 0.9em;
    line-height: 15px;
    border-radius: 5px;

    margin-left: 10px;
}

.alreadyHaveButton:hover {
    border: 1px solid white;
}

.onboardingBack {
    background-color: transparent;
    color: #fbe3dd;
    border: 1px solid #fbe3dd;

    padding: 8px 11px;
    font-size: 1em;
    line-height: 15px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: start;

    cursor: pointer;
}

.onboardingBack.visible {
    opacity: 1;
    transition: opacity 350ms cubic-bezier(1, 0.06, 0.83, 0.67) 450ms,
        transform 250ms ease-in-out;
}

.onboardingBack.hidden {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(1, 0.06, 0.83, 0.67);
}

.onboardingBack:hover {
    color: white;
    transition: transform 250ms;
    border: 1px solid #ba7300;
}

.onboardingBackLabel {
    cursor: pointer;
}

.onboardingBack .onboardingBackIcon {
    transform: scale(1);
    transition: transform 500ms ease-out;
}

.onboardingBack:hover .onboardingBackIcon {
    transform: scale(7);
    transition: transform 20000ms ease-out;
}
