.btn {
    color: #fffdfc;
    border-radius: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    transition: all 0.2s;
    padding: 14px 28px;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: 500;
}

.btn:disabled {
    background-color: #ffffff40 !important;
    color: #ffffff40 !important;
    cursor: not-allowed;
}

.btn.sm {
    background-color: transparent;
    color: white;
    line-height: 30px;
    font-size: 1.1em;
    padding: 5px 20px;
    width: fit-content;
    width: -moz-fit-content;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: all 0.2s;
    border: 1px solid #dc21b8;
    transition: all 0.2s;
}

.btn.sm:hover {
    background-color: #dc21b8;
}


.btn.pink {
    background-color: #dc21b8;
}

.btn.pink:hover {
    background-color: white;
    color: #dc21b8;
}

.btn.grey {
    background-color: #ffffff40;
}

.btn.grey:hover {
    background-color: #dc21b8;
    color: #fffdfc;
}

.btn.white {
    background-color: #fffdfc;
    color: #dc21b8;
}

.btn.white:hover {
    background-color: #dc21b8;
    color: #fffdfc;
}

.log_in {
    color: #fbe3dd;
    margin-right: 20px;
}

.log_in:hover {
    border: 1px solid #b5c9ea;
}

.sign_up {
    color: #fbe3dd;
}

.sign_up:hover {
    border: 1px solid #fbe3dd;
}

#already_have_account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

#alreadyHaveLabel {
    color: white;
}

.alreadyHaveButton {
    background-color: transparent;
    color: white;
    border: 1px solid #4ac0fc;

    width: fit-content;

    padding: 8px 13px;
    font-size: 0.9em;
    line-height: 15px;
    border-radius: 5px;

    margin-left: 10px;
}

.alreadyHaveButton:hover {
    border: 1px solid white;
}

.onboardingBack {
    background-color: transparent;
    color: #fbe3dd;
    border: 1px solid #fbe3dd;

    padding: 8px 11px;
    font-size: 1em;
    line-height: 15px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: start;

    cursor: pointer;
}

.onboardingBack.visible {
    opacity: 1;
    transition: opacity 350ms cubic-bezier(1, 0.06, 0.83, 0.67) 450ms,
        transform 250ms ease-in-out;
}

.onboardingBack.hidden {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(1, 0.06, 0.83, 0.67);
}

.onboardingBack:hover {
    color: white;
    transition: transform 250ms;
    border: 1px solid #ba7300;
}

.onboardingBackLabel {
    cursor: pointer;
}

.onboardingBack .onboardingBackIcon {
    transform: scale(1);
    transition: transform 500ms ease-out;
}

.onboardingBack:hover .onboardingBackIcon {
    transform: scale(7);
    transition: transform 20000ms ease-out;
}

.signup-btn {
    margin-top: 45px;
    width: 85%;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    transition: all 0.2s;
}

.signup-btn:hover {
    background-color: white;
    color: #dc21b8;
}

.all-set-btn {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #dc21b8;
    transition: all 0.2s;
    color: #dc21b8;
}

.all-set-btn:hover {
    background-color: #dc21b8;
    color: white;
    border: 1px solid white;
}