/* ChatSidebar.css */

.chat-sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-sidebar h4,
.chat-sidebar p {
    margin: 0;
}

.new-matches-section {
    padding: 10px;
    min-height: 23%;
    max-height: 23%;
}

.new-matches {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    height: 100%;
    min-height: 100%;
}

.new-matches-container {
    padding-top: 10px;
    overflow-x: auto;
    min-height: 100%;
}

.new-match {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.new-match:last-child {
    margin-right: 0;
}

.new-match .new-match-img-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.new-match-img-container img.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 2px solid white;
}

.new-match:hover .new-match-img-container img.avatar {
    border: 2px solid #dc21b8;
}

.status-indicator {
    position: absolute;
    right: 0;
    bottom: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #200618;
    /* Optional: a white border around the avatar */
    z-index: 10;
}

.online {
    background-color: #37c898;
}

.offline {
    background-color: transparent;
    border: none;
}

.new-match .name {
    font-size: 0.9rem;
    color: white;
}

.messages {
    padding: 10px;
    min-height: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
}

.messages .messages-list {
    overflow-y: auto;
    flex-grow: 1;

    /* hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    transition: all 0.1s ease-in-out;
}

.messages .messages-list::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.messages .message {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

@keyframes sliding-gradient {
    to {
        background-position: 200% center;
    }
}

.messages .message .conv-name {
    font-weight: 500;
}

.new-match:hover .name,
.messages .message:hover .conv-name {
    background: linear-gradient(to right,
            #dc21b8 20%,
            #4ac0fc 40%,
            #4ac0fc 60%,
            #dc21b8 80%);

    /* Make the gradient background larger than the element to slide it */
    background-size: 200% auto;

    /* Make the text transparent so that the gradient is visible */
    color: transparent;

    animation: sliding-gradient 1s linear infinite;

    /* Ensure the gradient is in the text itself, not just behind */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.message:last-child {
    border-bottom: none;
}

.message .message-img-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin-left: 1%;
}

.message:hover .message-img-container:after {
    position: absolute;
    content: '';
    top: -4%;
    left: -4%;
    bottom: -4%;
    right: -4%;
    z-index: 1;
    background: linear-gradient(-135deg, #4ac0fc 0%, #dc21b8 100%);
    border-radius: 50%;
}

.message img.avatar {
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.message .message-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex-grow: 1;
    max-width: calc(100% - 70px);
    width: 100%;
    position: relative;
}

.message-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-info-header time {
    font-size: 0.75rem;
    /* Smaller font size for date */
    color: #999999;
    margin-bottom: 5px;
    align-self: flex-end;
    /* Align the date to the right */
}

.message .message-info .message-snippet {
    font-size: 0.85rem;
    color: #ffffffbc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.message.unread .message-snippet {
    font-weight: bold;
    color: white;
}

.opaque {
    opacity: 0.6;
}

.message.unread .message-info-header time {
    color: white;
}

.message.unread .new-message-icon {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #4ac0fc;
    position: absolute;
    right: 5px;
    bottom: 5px;
}