.list_choice_container {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    min-width: min(200px, 42%);
    max-width: 65%;
    display: flex;
    align-items: center;
    transition: all 450ms;
    cursor: pointer;
}

.list_choice_container label {
    margin-left: 10px;
    cursor: pointer;
}

.list_choice_container:hover {
    background-color: #dc21b8;
    color: white;
    transition: all 150ms;
    transform: scale(0.98);
    border: 1px solid #dc21b8;
}

.list_choice_container.selected {
    background-color: #dc21b8;
    color: #fbe3dd;
    transition: all 150ms;
    border: 1px solid #dc21b8;
}

.list_choice_number {
    background-color: #dc21b8;
    color: black;
    width: fit-content;
    width: -moz-fit-content;
    padding: 2px 7px;
    font-weight: 600;
    border-radius: 2px;
    line-height: 21px;
}
