/**** ************ ****/
/**** SIGN UP FORM ****/
/**** ************ ****/
.onboarding_title {
    color: #FBE3DD
}

.catch_phrase {
    color: #B5C9EA;
    /* color: #BA7300; */
}

.center_align {
    align-items: center;
}

#onboarding_content_btn_container {
    display: flex;
    justify-content: space-between;

    padding: 30px;

}

#already_have_account.visible {
    opacity: 1;
    transition: all 350ms cubic-bezier(1, .06, .83, .67);
    transition-delay: 450ms;
}

#already_have_account.hidden {
    opacity: 0;
    transition: all 250ms cubic-bezier(1, .06, .83, .67);
}

#alreadyHaveLabel {
    color: #B5C9EA;
}

.alreadyHaveButton {
    background-color: transparent;
    color: #B5C9EA;
    border: 1px solid #BA7300;

    padding: 8px 11px;
    font-size: 0.9em;
    line-height: 15px;
    border-radius: 5px;

    margin-left: 10px;
}

.alreadyHaveButton:hover {
    border: 1px solid #FBE3DD;
}

.onboardingBack {
    background-color: transparent;
    color: #FBE3DD;
    border: 1px solid #FBE3DD;

    padding: 8px 0px;
    padding-right: 9px;
    font-size: 1em;
    line-height: 15px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: start;

    cursor: pointer;
}

.onboardingBack.visible {
    opacity: 1;
    transition: opacity 350ms cubic-bezier(1, .06, .83, .67) 450ms, transform 250ms ease-in-out;
}

.onboardingBack.hidden {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(1, .06, .83, .67);
}

.onboardingBack:hover {
    color: white;
    transform: scale(1.1);
    transition: transform 250ms;
    color: #FBE3DD;
}

.onboardingBackLabel {
    cursor: pointer;
}

.onboardingBack .onboardingBackIcon {
    transform: scale(1);
    transition: transform 500ms ease-out;
}

.onboardingBack:hover .onboardingBackIcon {
    transform: scale(7);
    transition: transform 20000ms ease-out;
}

#onboarding_sign_up {
    display: flex;
    justify-content: center;
}

#onboarding_sign_up.visible {
    opacity: 1;
    transition: all 350ms cubic-bezier(1, .06, .83, .67);
    transition-delay: 450ms;
}

#onboarding_sign_up.hidden {
    opacity: 0;
    transition: all 250ms cubic-bezier(1, .06, .83, .67);
}

.input_container {
    margin-bottom: 15px !important;
}

.button_container {
    margin-top: 100px !important;
    align-items: center;
}

.errorLabel {
    color: red
}




/**** ************ ****/
/**** SIGN UP FORM ****/
/**** ************ ****/
#onboarding_email_validation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50%;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
}

#onboarding_email_validation p b {
    font-size: 1.2em;
    color: white;
}




/**** *************** ****/
/**** WELCOME MESSAGE ****/
/**** *************** ****/
#onboarding_welcome_message {
    padding-left: 19%;
    padding-top: 2%;
}

#onboarding_next_button {
    background-color: #BA7300;
    color: #FBE3DD;
    line-height: 30px;
    font-size: 1.2em;
    padding: 5px 13px;
    margin-top: 55px;
    width: fit-content;
}

#onboarding_next_button_label {
    margin-left: 15px;
}

#welcome_catchphrase {
    margin-top: 100px;
}

#welcome_message {
    margin-top: 30px;
    margin-bottom: 100px;
}


/**** ************ ****/
/**** PROGRESS BAR ****/
/**** ************ ****/
#onboarding_progress_container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    margin-bottom: 55px;
}

#progress_bar_container {
    margin-right: 25px;
}

#progress_bar_container span {
    font-size: 0.8em;
}

#progress_bar {
    height: 3px;
    width: 150px;
    background-color: #FBE3DD;
    border-radius: 1px;
}

#next_and_prev_button {
    display: flex;
    justify-content: space-between;
}

#next_and_prev_button a {
    display: flex;
    align-items: center;
    background-color: #BA7300;
    color: #FBE3DD;
    cursor: pointer;
    padding: 3px;
}

#next_and_prev_button a svg {
    transition: transform 250ms;
}

#next_and_prev_button a:hover svg {
    transform: scale(1.4);
    transition: transform 150ms;
}

#next_and_prev_button a.disabled:hover svg {
    transform: none;
    transition: transform 150ms;
}

#onboarding_next {
    border-right: 0.5px solid #FBE3DD;
    border-radius: 2px 0px 0px 2px;
}

#onboarding_prev {
    border-left: 0.5px solid #FBE3DD;
    border-radius: 0px 2px 2px 0px;
}

.disabled {
    color: grey !important;
}




/**** **************** ****/
/**** GENDER SELECTION ****/
/**** **************** ****/
#gender_selection_container {
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
}

#choice_list {
    margin-top: 25px;
}

#gender_selection_catch_phrase {
    font-size: 1.6em;
}




/**** *********** ****/
/**** DESCRIPTION ****/
/**** *********** ****/
#description_creation_input {
    border: none;
    border-bottom: 2px solid #FBE3DD;
    background-color: transparent;
    width: 50%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 55px;
    margin-top: 15px;
    transition: all 150ms cubic-bezier(1, .06, .83, .67);
    background-color: rgba(181, 201, 234, 0.2);
}

#description_creation_input:focus-visible {
    outline: none;
    border-bottom-color: #BA7300;
    transition: all 100ms cubic-bezier(1, .06, .83, .67);
}




/**** ************** ****/
/**** TAGS INTERESTS ****/
/**** ************** ****/
#tags_autocomplete {
    /* background: transparent;
    color: #9185BE;
    border: 1px solid #FBE3DD;
    box-shadow: 4px 4px 4px #3F1F71;
    border-radius: 5px; */
}

#tags_text_field {
    color: #FBE3DD;
}

.MuiChip-root {
    background: rgba(63, 31, 113, 0.1) !important;
    border: 1px solid #9185BE !important;
    border-radius: 5px !important;
    margin-top: 5px !important;
    font-size: 0.9rem;
}

.MuiInputBase-root {
    border-bottom: none !important;
    background: #D9D9D9 !important;
    color: black !important;
    /* box-shadow: 4px 4px 4px #3F1F71 !important; */
    border-radius: 5px !important;
    width: 80% !important;
}

label.Mui-focused {
    color: #BA7300 !important;
}

.css-gjbq6i-MuiInputBase-root-MuiFilledInput-root.Mui-focused:after {
    border-bottom: 2px solid #BA7300 !important;
}

.css-11v1qwh-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: 2px solid #BA7300 !important;
}