#user-settings {
    height: 100%;
    overflow: auto;
    font-weight: 500;
    min-width: 100%;
    display: flex;
    justify-content: center;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#user-settings::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 480px) {
    #settings-container {
        min-width: 100%;
        max-width: 100%;
        padding: 0 15px;
    }

    #user-settings-pictures-container {
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}

@media screen and (max-width: 1141px) and (min-width: 481px) {
    #settings-container {
        min-width: 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 1142px) {
    #settings-container {
        min-width: 40%;
        max-width: 40%;
    }
}

.setting {
    border: 1px solid #4b3244;
    border-radius: 4px;
    padding: 15px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting.complex-setting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.setting.complex-setting .setting-infos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 14px;
}

.setting.complex-setting .setting-infos div {
    min-width: fit-content;
}

.setting button:not(.setting-picture-delete-btn) {
    background-color: transparent;
    color: #dc21b8;
    padding: 0;
}

.settings-divider {
    width: 100%;
    height: 1px;
    margin: 50px;
}

.setting-biography {
    width: 100%;
    background-color: #4b32445c;
    border-radius: 4px;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    resize: none;
    height: 150px;
    transition: all 0.2s;
}

.setting.personal-setting .MuiInputBase-root:not(.Mui-focused) {
    background-color: #4b32445c !important;
    transition: all 0.2s;
}

.setting-biography:focus {
    background-color: #4b3244;
}

#user-settings-pictures-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.setting-picture-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: all 100ms ease-out;
    animation: slideUp 0.5s;
    overflow: hidden;
}

.user-setting-picture {
    width: 8vw;
    height: 12vw;
    border-radius: 10px;
    transition: all 100ms ease-out;
    min-width: 100%;
    min-height: 160px;
}

.setting-picture-container:hover .user-setting-picture {
    transform: scale(0.99);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 100ms;
    cursor: zoom-out;
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
}

.user-setting-picture:hover + .setting-picture-delete,
.setting-picture-delete:hover {
    bottom: 0;
    transition: all 200ms;
    cursor: zoom-out;
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
}

.setting-picture-delete {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -100%;
}

.setting-picture-delete-btn {
    background-color: white;
    color: #dc21b8;
    padding: 5px;
    border-radius: 4px;
}
.setting-picture-delete-btn:hover {
    background-color: #dc21b8;
    color: white;
}

.setting-input {
    width: 75%;
    padding: 7px;
    background-color: #4b32445c;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 1rem;
    border: 1px solid #4b32445c;
    transition: all 0.2s;
}

.setting-input:focus {
    background-color: #4b3244;
    border: 1px solid #4ac0fc;
}
