#user-settings {
    height: 100%;
    overflow: auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#user-settings::-webkit-scrollbar {
    display: none;
}

.setting {
    border: 1px solid #4b3244;
    border-radius: 4px;
    padding: 15px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting.range-setting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.setting.range-setting div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 7px;
}

.setting.range-setting div:nth-child(1) div {
    min-width: fit-content;
}

.setting button {
    background-color: transparent;
    color: #dc21b8;
    padding: 0;
}

.slider {
    min-width: 100%;
    -webkit-appearance: none;
    outline: none;
    transition: all 0.2s;
    background: #4b3244;
    height: 1px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-image: linear-gradient(#dc21b8, #dc21b8);
    background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #dc21b8;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #dc21b8;
    cursor: pointer;
    cursor: ew-resize;
    transition: background 0.3s ease-in-out;
}

.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
