.log_in {
    /* background-color: #FBE3DD; */
    /* color: #B5C9EA; */
    color: #FBE3DD;
    margin-right: 20px;
}

.log_in:hover {
    border: 1px solid #B5C9EA;
    /* border: 1px solid #FBE3DD; */
}

.sign_up {
    /* background-color: #3F1F71; */
    color: #FBE3DD;
}

.sign_up:hover {
    border: 1px solid #FBE3DD;
}

.btn {
    padding: 5px 15px;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 24px;
    border-radius: 15px;
    background-color: transparent;
}