#landing_page {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background_landing_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, #3f1f719c, #3f1f719c),
        url('/src/assets/kissing_cats.jpg');
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.6);
}

#landing_catch_phrase {
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 2em;
}

#landing_catch_phrase_container {
    z-index: 2;
}
