#landing_page {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background_landing_img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, #200618bc, #200618bc),
        url('/src/assets/kissing_cats.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#landing_catch_phrase {
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 2em;
    text-align: center;
    max-width: 85%;
}

#landing_main_btn_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#landing_main_button {
    background-color: white;
    border-radius: 4px;
    width: fit-content;
    width: -moz-fit-content;
    padding: 10px 20px;
    font-size: 1.2em;
    transition: all 150ms;
    box-shadow: 12px 12px 0 0 #dc21b8;
    color: #dc21b8;
    margin-top: 50px;
    font-weight: 500;
}

#landing_main_button:hover {
    box-shadow: none;
    transition: all 150ms;
    padding: 14px 24px;
    font-weight: 600;
    background-color: #dc21b8;
    color: white;
    margin-top: 42px;
}

#landing_main_button:active {
    transform: scale(0.9);
}
