.container {
    max-height: 100%;
    max-width: 100%;
}

.container h2 {
    font-size: 2rem;
    position: sticky;
    top: 0px;
    background-color: #200618;
    height: 100%;
    padding: 20px 0px 20px 0px;
    margin: 0px;
}

.notification-list {
    display: flex;
    padding: 15px;
    align-items: center;
    margin-top: 10px;
    background: #dc21b890;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    border: 1px solid #dc21b8;
}

.notification-list.read {
    background: transparent;
    border: 1px solid #4ac0fc;
}

.notification-list_content {
    display: flex;
    width: 450px;
    align-items: center;
}

.notification-list_img img {
    height: 70px;
    width: 70px;
    border-radius: 50px;
    margin-right: 20px;
}

.notification-list_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notification-list_detail p {
    margin: 5px;
    line-height: 1.2;
}

.notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
}

.notification-list_detail small {
    color: rgba(255, 255, 255, 0.6);
}