.form_input {
    background-color: transparent;
    color: #FBE3DD;
    border: 1px solid #FBE3DD;
    width: 100%;
    min-height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    padding: 6px 8px;
    line-height: 16px;
}

.form_input::placeholder {
    color: #b5c9ea;
    opacity: 0.5;
}