#advanced_search {
    width: 100%;

    box-shadow: 0 0 7px 4px rgb(0 0 0 / 20%);
    border-radius: 25px;

    padding: 2em;
}

#advanced_search_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filters_reset_btn {
    color: #5E0B4F;
    padding: 1px 10px;
    background-color: transparent;
    border: 1px solid #5E0B4F;
    border-radius: 4px;
    transition: all 100ms;
}

#filters_reset_btn:hover {
    background-color: #5E0B4F2C;
    transition: all 100ms;
}

#filters_reset_btn:active {
    transform: scale(0.9);
    transition: all 100ms;
}

#advanced_search_title {
    color: #5E0B4F;
    font-weight: 500;
    font-size: 1.6em;
}

.slider_range_display {
    color: #BA7300;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

#advanced_search_footer {
    margin-top: 50px;
}

#apply_filters_btn {
    color: white;
    background-color: #5E0B4F;
    width: 100%;
    font-size: 1.2em;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 100ms;
}

#apply_filters_btn:hover {
    background-color: #BA7300;
    transition: all 100ms;
}

#apply_filters_btn:active {
    transform: scale(0.9);
    transition: all 100ms;
}

.advanced_search_field {
    margin-top: 50px;
}

/* MUI customization */
.MuiSlider-thumb.MuiSlider-thumbColorPrimary.MuiSlider-thumbSizeMedium.css-eg0mwd-MuiSlider-thumb.Mui-focusVisible {
    box-shadow: 0 0 0 8px #BA73005C;
}

.css-eg0mwd-MuiSlider-thumb:hover {
    box-shadow: 0 0 0 8px #BA73005C !important;
}