.select {
    background-color: #200618;
    color: #dc21b8;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 10px;
    border: 1px solid #4b3244;
    border-radius: 4px;
}

.select:hover {
    border-color: #4b3244;
}

.select:focus {
    border: 1px solid #4ac0fc;
    outline: none;
}

.select option {
    font-weight: normal;
}