#log_in {
    background-color: #FBE3DD;
    border-radius: 5px;
    color: #5E0B4F;
    padding: 13px 32px;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 24px;
    margin-right: 20px;
}

#sign_in {
    background-color: #5E0B4F;
    border-radius: 5px;
    color: #FBE3DD;
    padding: 13px 32px;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 24px;
}