.overview_top_phrase {
    font-weight: 600;
    font-size: 1.1em;
    color: black;
}

.dashboard_overview {
    display: flex;
    justify-content: center;
    color: black;
    height: 80%;
}

.overview_sort {
    color: #BA7300;
    margin-left: 50px;
}

#advanced_search_container {
    padding: 10px;
}