#navbar {
    padding: 0 20px;
    z-index: 10;
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: relative;
}

@media screen and (max-width: 1141px) {
    .nav-title-container {
        display: none;
    }
}

.navTitle {
    color: white;
    text-align: center;
    font-size: 4em;
    margin: 0;
}

.nav-menu-icons-container {
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-icons {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1141px) {
    .nav-menu-icons {
        width: 100%;
    }
}

@media screen and (min-width: 1142px) {
    .nav-menu-icons {
        width: 33%;
    }
}

.navbar-menu-icon {
    background-color: #fffdfc;
    color: #dc21b8;
    /* color: linear-gradient(90deg, #dc21b8 10%, #4ac0fc 100%); */
    /* background: linear-gradient(90deg, #dc21b8 10%, #4ac0fc 100%); */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu-icon:hover {
    filter: brightness(0.8);
    color: #dc21b8;
}

.navbar-menu-icon.selected {
    background-color: #4c3746;
    color: white;
}

.navbar-menu-icon.chat-icon svg {
    font-size: 27px;
}

.navbar-menu-icon.pet-icon svg,
.navbar-menu-icon.user-icon svg {
    font-size: 33px;
}

.log-in-btn-container {
    display: flex;
    align-items: center;
    justify-content: right;
}

button.btn-log-in {
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
