#navbar {
    padding: 10px 30px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    min-height: 68px;
    max-height: 68px;
    top: 0;
    left: 0;
    box-shadow: 0 -1px rgba(255, 255, 255, 0.25) inset;
    transition: all .2s ease-in-out;
}

#navbar:hover {
    background-color: #200518B0;
}

.navTitle {
    color: white;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.navTitle:hover {
    color: #ef99de;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.navbar-menu a:hover svg {
    color: #ef99de;
}

.nav-user-account:hover>svg {
    color: #ef99de;
    cursor: pointer;
}

.nav-user-account>svg.active {
    color: #ef99de;
}

.nav-user-account>.avatar {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.nav-user-account>.avatar:hover {
    box-shadow: 0 0 11px #ef99de;
}

.log-in-btn-container {
    height: calc(100% - 20px);
    font-size: 0.8em;
    animation: fade-in 500ms ease-out both 1.7s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#brand-name {
    margin: 0;
}

@media screen and (max-width: 480px) {
    #brand-name {
        display: none;
    }
}

.dropdown-menu {
    position: absolute;
    right: 20px;
    top: 68px;
    background-color: #20051897;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: white;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
    color: #dc21b8;
}