#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    padding: 10px 30px;
    z-index: 10000;
    transition: all 200ms;
    display: flex;
    align-items: center;
}

#loggingBtnContainer {
    opacity: 1;
    transition: opacity 450ms;
    display: flex;
    justify-content: end;
    align-items: center;
}

#loggingBtnContainer.onboarded {
    opacity: 0;
    transition: opacity 450ms;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#already_have_account.visible {
    display: block;
}

#already_have_account.hidden {
    display: none;
}

#log_in_sign_up.visible {
    display: block;
}

#log_in_sign_up.hidden {
    display: none;
}

#alreadyHaveLabel {
    color: #BA7300;
}