#profile_matching {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: absolute;
    top: 0;
    overflow: hidden;
}

@media screen and (min-width: 450px) {
    #profile_matching {
        position: relative;
        width: 450px;
        height: min(calc(642px + 10vh + 50px), 80.86vh);
        box-sizing: content-box;
        border: 4px solid white;
        overflow: hidden;
        border-radius: 20px;
    }
}

@media screen and (max-width: 449px) {
    .profile_matching_btn_container {
        position: fixed !important;
    }

    #profile_matching {
        position: relative;
    }

    .card_img_container {
        min-height: calc(90vh - 50px - 68px);
    }
}

#profile_matching-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: start;
    overflow: auto;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#profile_matching-container::-webkit-scrollbar {
    display: none;
}

#profile_matching-container.no-scroll {
    overflow: hidden;
}

#profile_matching-container .matching-settings {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
    color: white;
    background-color: #20051850;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    padding: 5px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

#profile_matching-container .matching-settings.clear {
    color: #4ac0fc;
    height: 40px;
    width: 40px;
    padding: 0;
}

#profile_matching-container .matching-settings:hover {
    background-color: #200618;
}

#profile_matching-container #user-profile-container {
    transition: opacity 500ms ease-in;
}

#profile_matching-container.liked,
#profile_matching-container.disliked,
#profile_matching-container.transition {
    overflow: hidden;
}

#profile_matching-container.liked .profile-evaluation,
#profile_matching-container.disliked .profile-evaluation {
    display: flex;
}

#profile_matching-container.liked #profile-liked {
    display: block;
}

#profile_matching-container.disliked #profile-disliked {
    display: block;
}

#profile_matching-container.liked.transition #user-profile-container,
#profile_matching-container.liked.transition #profile-liked {
    margin-left: calc(200% + 80px);
    transition: all 200ms ease-in;
    opacity: 0;
}

#profile_matching-container.disliked.transition #user-profile-container,
#profile_matching-container.disliked.transition #profile-disliked {
    margin-right: calc(200% + 80px);
    transition: all 120ms ease-in;
    opacity: 0;
}

.profile-evaluation {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}

.profile-evaluation p {
    font-size: 3rem;
    padding: 20px 50px;
    font-weight: 600;
    border-radius: 20px;
    transform: rotate(-20deg);
}

.profile-evaluation #profile-liked {
    color: #4ac0fc;
    border: 6px solid #4ac0fc;
    display: none;
}

.profile-evaluation #profile-disliked {
    color: #dc21b8;
    border: 6px solid #dc21b8;
    display: none;
}

.card_img_container.next-user {
    position: absolute;
    z-index: -1;
    transition: none;
}

.profile_matching_btn_container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
    padding-bottom: 5vh;
    padding-top: 5vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #200618 25%);
}

.profile_matching_btn {
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 100ms;
    border: none;
    padding: 10px;
    height: fit-content;
}

.profile_matching_btn:hover {}

.profile_matching_btn:active {
    transform: scale(0.9);
}

.profile_matching_btn svg {
    font-size: 50px;
}

.profile_matching_like {
    background: linear-gradient(325deg, #4ac0fc 33%, #dc21b8 66%);
}

.profile_matching_dislike {
    background-color: white;
}

.profile_matching_dislike svg {
    background-color: transparent;
    font-size: 50px;
}

@keyframes match-animation {
    0% {
        filter: opacity(0);
    }

    40% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

.match-animation {
    position: absolute;
    z-index: 4;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(32, 6, 24, 1) 70%);
    animation: match-animation 700ms ease-in;
}

.match-animation .match-animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
}

@keyframes match-animation-img {
    0% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

.match-animation .match-animation-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    animation: match-animation-img 1100ms ease-in;
}

@keyframes match-animation-p {
    0% {
        filter: opacity(0);
    }

    80% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

.match-animation .match-animation-container p {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
    animation: match-animation-p 1200ms ease-in;
}

.match-animation .itsa-span {
    color: #dc21b8;
    margin-left: 20px;
}

.match-animation .match-span {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.match-animation .btn {
    margin-top: 20px;
}

@keyframes match-animation-btn-msg {
    0% {
        transform: scale(0);
        filter: opacity(0);
    }

    80% {
        filter: opacity(0);
        transform: scale(0);
    }

    81% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.match-animation .btn.match-msg {
    animation: match-animation-btn-msg 1300ms ease-in;
}

.match-animation .btn.match-keep {
    animation: match-animation-btn-msg 1400ms ease-in;
}

.matching-loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.matching-loading p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
}

.matching-loading svg {
    font-size: 50px;
    color: #4ac0fc;
}

.matching-loading span {
    width: 60px !important;
    height: 60px !important;
}

.no-match {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.no-match p {
    font-size: 1.5rem;
    font-weight: 600;
}