#upload_pictures_btn_label {
    color: #dc21b8;
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms ease-out;
}

#upload_pictures_btn_label:hover {
    filter: brightness(1.6);
}

#upload_pictures_btn_label.disabled {
    color: grey;
    font-weight: 600;
    cursor: not-allowed;
}

#upload_pictures_btn_label.disabled:hover {
    filter: brightness(1);
}
#user-settings-pictures-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.setting-picture-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: all 100ms ease-out;
    animation: slideUp 0.5s;
    overflow: hidden;
}

.user-setting-picture {
    width: 7vw;
    height: 10vw;
    border-radius: 10px;
    transition: all 100ms ease-out;
    min-width: 100px;
    min-height: 142px;
    background-size: cover !important;
    background-position: center !important;
}

.setting-picture-container:hover .user-setting-picture {
    transform: scale(0.99);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 100ms;
    cursor: zoom-out;
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
}

.user-setting-picture:hover + .setting-picture-delete,
.setting-picture-delete:hover {
    bottom: 0;
    transition: all 200ms;
    cursor: zoom-out;
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
}

.setting-picture-delete {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -100%;
}

.setting-picture-delete-btn {
    background-color: white;
    color: #dc21b8;
    padding: 5px;
    border-radius: 4px;
}
.setting-picture-delete-btn:hover {
    background-color: #dc21b8;
    color: white;
}

#picture_upload_btn {
    display: none;
}
