/* 
.card_city {
    margin-left: 10px;
    margin-top: 0;
    font-size: 0.8em;
    max-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card_like {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #FF9D00;
    cursor: pointer;
} */
