.form_input {
    background-color: transparent;
    color: #FBE3DD;
    /* border: 1px solid #BA7300; */
    border: 1px solid #FBE3DD;
    min-width: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 2em;
    padding: 7px 13px;
}