.onboarding_card {
    min-height: 575px;
    max-height: 575px;
    min-width: 470px;
    max-width: 470px;
    background-color: #200518;
    padding: 15px 40px;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    margin-top: -68px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.onboarding_card h3,
.onboarding_card h1 {
    margin: 0;
}

.onboarding_card .header {
    display: flex;
    justify-content: start;
    align-items: start;
    min-height: 20%;
    max-height: 20%;
    padding: 5px 0;
    animation: appear 1s cubic-bezier(0.215, 0.61, 0.355, 1) both 0s;
}

.onboarding_card .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 60%;
    max-height: 60%;
    padding: 5px 0;
    animation: appear 1s cubic-bezier(0.215, 0.61, 0.355, 1) both 0.2s;
}

.onboarding_card .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0;
    animation: appear 1s cubic-bezier(0.215, 0.61, 0.355, 1) both 0.4s;
}

.onboarding_card .setting.complex-setting {
    margin-top: -20%;
}

.onboarding_card .onboarding_tags_content {
    margin-top: -15%;
}

.btn {
    color: #fffdfc;
    border-radius: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    transition: all 0.2s;
    padding: 13px 20px;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: 500;
}

.btn:disabled {
    background-color: #ffffff40 !important;
    color: #ffffff40 !important;
    cursor: not-allowed;
}

.btn.sm {
    background-color: #dc21b8;
    color: white;
    line-height: 30px;
    font-size: 1.1em;
    padding: 5px 20px;
    width: fit-content;
    width: -moz-fit-content;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 4px;
    transition: all 0.2s;
}

.btn.sm:hover {
    background-color: white;
    color: #dc21b8;
}


.btn.pink {
    background-color: #dc21b8;
}

.btn.pink:hover {
    background-color: white;
    color: #dc21b8;
}

.btn.grey {
    background-color: #ffffff40;
}

.btn.grey:hover {
    background-color: #dc21b8;
    color: #fffdfc;
}

.btn.white {
    background-color: #fffdfc;
    color: #dc21b8;
}

.btn.white:hover {
    background-color: #dc21b8;
    color: #fffdfc;
}