@keyframes popIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes popOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: 0 !important;
        display: none;
    }
}

.sort-and-filter {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.sort-and-filter.active,
.sort-and-filter.inactive {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 60px;
    z-index: 4;
    background-color: #200518D0;
}

.sort-and-filter.active {
    animation: popIn 200ms ease-in-out forwards;
}

.sort-and-filter.inactive {
    animation: popOut 200ms ease-in-out forwards;
}