/**** ************ ****/
/**** SIGN UP FORM ****/
/**** ************ ****/
#test-div {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    background: transparent;
    position: absolute;
    top: 0;
}

@media (max-width: 768px) {
    #left-div {
        display: none;
    }

    #right-div {
        min-width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 769px) {
    #right-div {
        min-width: 60%;
        max-width: 60%;
    }
}

#left-div {
    height: 100%;
    min-width: 40%;
    max-width: 40%;
    left: 0;
    overflow: hidden;
    border-radius: 0px 100px 100px 0px;
}

#left-div>div {
    background: url('../../assets/cat_glasses.jpg'), no-repeat fixed;
    background-size: cover;
    background-position: 100% 50%;
    height: 100%;
    width: 100%;
    animation: unblur 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0ms 1 normal none;
    border-radius: 0px 100px 100px 0px;
}

#left-div.left-login>div {
    background: url('../../assets/login_cat.jpg'), no-repeat fixed;
    background-size: cover;
    background-position: 100% 50%;
    height: 100%;
    width: 100%;
    animation: unblur 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0ms 1 normal none;
    border-radius: 0px 100px 100px 0px;
}

#right-div {
    height: 100%;
    z-index: 1;
    /* background: linear-gradient(148deg, rgba(232, 33, 184, 0.40) 0%, rgba(74, 192, 252, 0.40) 100%); */
    background-color: #200618;
    /* background: linear-gradient(148deg, rgba(232, 33, 184, 0.70) 0%, rgba(74, 192, 252, 0.70) 100%); */
    right: 0;
    display: flex;
    justify-content: center;
}

#onboarding_form>h3 {
    animation: appear 2s cubic-bezier(0.215, 0.61, 0.355, 1) both 250ms;
}

#onboarding_form>div {
    animation: appear 1.9s cubic-bezier(0.215, 0.61, 0.355, 1) both 450ms;
}

#onboarding_form>.signup-btn {
    animation: appear 1.8s cubic-bezier(0.215, 0.61, 0.355, 1) both 650ms;
}

#signup_title {
    text-align: center;
    width: 100%;
    color: #4ac0fc;
}

#onboarding_form {
    display: flex;
    width: 100%;
    max-width: 650px;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    flex-direction: column;
    gap: 5px;
    /* padding: 60px 0px; */
}

#onboarding_form>div {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.form-double-field {
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorLabel {
    color: red;
}

@keyframes unblur {
    0% {
        /* background-size: 150%; */
        filter: blur(20px);
        transform: scale(1.1);
    }

    100% {
        /* background-size: cover; */
    }
}

/**** ************ ****/
/**** SIGN UP FORM ****/
/**** ************ ****/
#onboarding_email_validation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50%;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
}

#onboarding_email_validation p b {
    font-size: 1.2em;
    color: white;
}

.send-email-again-msg {
    font-weight: 300;
}

.send-email-again-msg a {
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
}

.send-email-again-msg a:hover {
    color: #4ac0fc;
}

/**** ******* ****/
/**** WELCOME ****/
/**** ******* ****/
#welcome_catchphrase {
    padding-top: 6vh;
}

/**** **************** ****/
/**** GENDER SELECTION ****/
/**** **************** ****/
#gender_selection_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#choice_list {
    display: flex;
    flex-direction: column;
    gap: 35px;
    height: 60%;
}

#gender_selection_catch_phrase {
    font-size: 1.6em;
    margin: 0;
}

#gender_selection_catch_phrase b {
    color: #4ac0fc;
}

#gender_selection_catch_phrase i {
    font-size: 0.6em;
}

/**** *********** ****/
/**** DESCRIPTION ****/
/**** *********** ****/
#description_creation_input {
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 55px;
    margin-top: 15px;
    transition: all 150ms cubic-bezier(1, 0.06, 0.83, 0.67);
    background-color: rgba(181, 201, 234, 0.2);
    color: #fbe3dd;
    padding: 7px;
    border-radius: 4px 4px 0 0;
}

#description_creation_input:focus-visible {
    outline: none;
    border-bottom-color: #4ac0fc;
    transition: all 100ms cubic-bezier(1, 0.06, 0.83, 0.67);
}

/**** ************** ****/
/**** TAGS INTERESTS ****/
/**** ************** ****/
#tags_text_field {
    color: #fbe3dd;
}

.MuiChip-root {
    background: rgba(63, 31, 113, 0.1) !important;
    border: 1px solid #9185be !important;
    border-radius: 5px !important;
    margin-top: 5px !important;
    font-size: 0.9rem;
}

.MuiInputBase-root {
    border-bottom: none !important;
    background: #d9d9d9 !important;
    color: black !important;
    /* box-shadow: 4px 4px 4px #3F1F71 !important; */
    border-radius: 5px !important;
    width: 80% !important;
}

label.Mui-focused {
    color: #ba7300 !important;
}

.css-gjbq6i-MuiInputBase-root-MuiFilledInput-root.Mui-focused:after {
    border-bottom: 2px solid #ba7300 !important;
}

.css-11v1qwh-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: 2px solid #ba7300 !important;
}

/**** ************** ****/
/**** PICTURE UPLOAD ****/
/**** ************** ****/
.complex-setting.has-imgs {
    margin-top: -15%;
}

/**** *************** ****/
/**** ALL SET MESSAGE ****/
/**** *************** ****/
.all-set-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.3em;
}