/**** ************ ****/
/**** SIGN UP FORM ****/
/**** ************ ****/
.catch_phrase {
    color: #4ac0fc;
}

.center_align {
    align-items: center;
}

#already_have_account.visible {
    opacity: 1;
    transition: all 350ms cubic-bezier(1, 0.06, 0.83, 0.67);
    transition-delay: 450ms;
}

#already_have_account.hidden {
    opacity: 0;
    transition: all 250ms cubic-bezier(1, 0.06, 0.83, 0.67);
}

#onboarding_sign_up {
    display: flex;
    justify-content: center;
}

.input_container {
    margin-bottom: 15px !important;
}

.button_container {
    margin-top: 100px !important;
    align-items: center;
}

.errorLabel {
    color: red;
}

/**** ************ ****/
/**** SIGN UP FORM ****/
/**** ************ ****/
#onboarding_email_validation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50%;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
}

#onboarding_email_validation p b {
    font-size: 1.2em;
    color: white;
}

.send-email-again-msg {
    font-weight: 300;
}
.send-email-again-msg a {
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
}
.send-email-again-msg a:hover {
    color: #4ac0fc;
}

/**** *************** ****/
/**** WELCOME MESSAGE ****/
/**** *************** ****/
#onboarding_welcome_message {
    padding-left: 19%;
    padding-top: 2%;
}

#onboarding_next_button {
    background-color: #dc21b8;
    color: white;
    line-height: 30px;
    font-size: 1.1em;
    padding: 5px 20px;
    margin-top: 55px;
    width: fit-content;
    width: -moz-fit-content;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 4px;
}

#welcome_catchphrase {
    margin-top: 100px;
}

#welcome_message {
    margin-top: 30px;
    margin-bottom: 100px;
}

/**** **************** ****/
/**** GENDER SELECTION ****/
/**** **************** ****/
#gender_selection_container {
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    width: 90%;
}

#choice_list {
    margin-top: 25px;
}

#gender_selection_catch_phrase {
    font-size: 1.6em;
}

/**** *********** ****/
/**** DESCRIPTION ****/
/**** *********** ****/
#description_creation_input {
    border: none;
    border-bottom: 2px solid #fbe3dd;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 55px;
    margin-top: 15px;
    transition: all 150ms cubic-bezier(1, 0.06, 0.83, 0.67);
    background-color: rgba(181, 201, 234, 0.2);
    color: #fbe3dd;
}

#description_creation_input:focus-visible {
    outline: none;
    border-bottom-color: #ba7300;
    transition: all 100ms cubic-bezier(1, 0.06, 0.83, 0.67);
}

/**** ************** ****/
/**** TAGS INTERESTS ****/
/**** ************** ****/
