/**** ************ ****/
/**** SIGN UP FORM ****/
/**** ************ ****/
.onboarding_title {
    color: #fbe3dd;
}

.center_align {
    align-items: center;
}

#onboarding_sign_up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#onboarding_sign_up h3 {
    color: #FBE3DD;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

#signup_title {
    text-align: center;
    width: 100%;
}

.input_container {
    margin-bottom: 20px;
}

.button_container {
    margin-top: 50px;
    align-items: center;
}

.errorLabel {
    color: red;
}

/**** ************ ****/
/**** SIGN UP FORM ****/
/**** ************ ****/
#onboarding_email_validation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50%;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
}

#onboarding_email_validation p b {
    font-size: 1.2em;
    color: white;
}

.send-email-again-msg {
    font-weight: 300;
}

.send-email-again-msg a {
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
}

.send-email-again-msg a:hover {
    color: #ba7300;
}

/**** **************** ****/
/**** GENDER SELECTION ****/
/**** **************** ****/
#gender_selection_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#choice_list {
    display: flex;
    flex-direction: column;
    gap: 35px;
    height: 60%;
}

#gender_selection_catch_phrase {
    font-size: 1.6em;
}

/**** *********** ****/
/**** DESCRIPTION ****/
/**** *********** ****/
#description_creation_input {
    border: none;
    border-bottom: 2px solid #fbe3dd;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 55px;
    margin-top: 15px;
    transition: all 150ms cubic-bezier(1, 0.06, 0.83, 0.67);
    background-color: rgba(181, 201, 234, 0.2);
    color: #fbe3dd;
}

#description_creation_input:focus-visible {
    outline: none;
    border-bottom-color: #ba7300;
    transition: all 100ms cubic-bezier(1, 0.06, 0.83, 0.67);
}

/**** ************** ****/
/**** TAGS INTERESTS ****/
/**** ************** ****/


#tags_text_field {
    color: #fbe3dd;
}

.MuiChip-root {
    background: rgba(63, 31, 113, 0.1) !important;
    border: 1px solid #9185be !important;
    border-radius: 5px !important;
    margin-top: 5px !important;
    font-size: 0.9rem;
}

.MuiInputBase-root {
    border-bottom: none !important;
    background: #d9d9d9 !important;
    color: black !important;
    /* box-shadow: 4px 4px 4px #3F1F71 !important; */
    border-radius: 5px !important;
    width: 80% !important;
}

label.Mui-focused {
    color: #ba7300 !important;
}

.css-gjbq6i-MuiInputBase-root-MuiFilledInput-root.Mui-focused:after {
    border-bottom: 2px solid #ba7300 !important;
}

.css-11v1qwh-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: 2px solid #ba7300 !important;
}