#root {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    display: flex;
    flex-flow: column;

    background: linear-gradient(148deg, rgba(232, 33, 184, 0.70) 0%, rgba(74, 192, 252, 0.70) 100%);
}


#page_container {
    width: 100%;
    min-height: calc(100vh - 20px - 48px);
    max-height: calc(100vh - 20px - 48px);
}