#dashboard {
    background-color: #9185BE2c;
    /* background: linear-gradient(65.48deg, rgba(63, 31, 113, 0.7) 29.09%, rgba(0, 0, 0, 0.6) 68.95%); */
    /* background-color: #FBE3DD; */
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.dashboard_title {
    color: #5E0B4F;
    text-align: center;
    width: 100%;
    font-size: 4em;
    margin-top: 0;
}