.dashboard_overview {
    width: 100%;
    color: black;
}

.dashboard_container {
    display: flex;
    align-items: center;
}

.background_dashboard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #200518;
}
