/**** ************ ****/
/**** PROGRESS BAR ****/
/**** ************ ****/
#progress_container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#progress_bar_container {
    margin-right: 25px;
}

#progress_bar_container span {
    font-size: 0.8em;
}

#progress_bar {
    height: 3px;
    width: 150px;
    background-color: white;
    border-radius: 1px;
    color: white;
}

#next_and_prev_button {
    display: flex;
    justify-content: space-between;
}

#next_and_prev_button a {
    display: flex;
    align-items: center;
    background-color: #4ac0fc;
    padding: 3px;
}
#next_and_prev_button a:not(disabled) {
    cursor: pointer;
}

#next_and_prev_button a svg {
    transition: transform 250ms;
}

#next_and_prev_button a:hover svg {
    transform: scale(1.4);
    transition: transform 150ms;
}

#next_and_prev_button a.disabled {
    background-color: grey;
    cursor: default;
}

#next_and_prev_button a.disabled:hover svg {
    transform: none;
    transition: transform 150ms;
}

#progress_next {
    border-right: 0.5px solid white;
    border-radius: 2px 0px 0px 2px;
}

#progress_prev {
    border-left: 0.5px solid;
    border-radius: 0px 2px 2px 0px;
}

#progress_bar::before {
    content: '';
    position: absolute;
    border: solid #dc21b8;
    border-width: 3px 0 0 0;
    height: 0px;
    width: 0;
    transition: width 200ms;
}

.progress_twenty::before {
    width: 30px !important;
}

.progress_forty::before {
    width: 60px !important;
}

.progress_sixty::before {
    width: 90px !important;
}

.progress_eighty::before {
    width: 120px !important;
}

.progress_hundred::before {
    width: 150px !important;
}
