.profile-page {
    position: relative;
    width: 450px;
    height: min(calc(642px + 10dvh + 50px), 80.86dvh);
    box-sizing: content-box;
    border: 4px solid white;
    overflow: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    border-radius: 20px;
}